.card {
  width: 80px;
  height: 80px;
}
.cardRecto,
.cardVerso {
  position: absolute;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 0.7s ease-out;
}

.cardRecto {
  background-color: yellow;
  transform: rotateY(180deg);
}
.cardVerso {
  background-color: blue;
}
.card .cardRectoActiv {
  transform: rotateY(0deg);
}
